*{
	box-sizing:border-box;
}

body{
	font-family: 'Teko', Helvetica, Arial, sans-serif;
}

button {
	margin: 15px 0 40px;
	height:52px;
	width: 232px;
	border:none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1.6px;
}




/***** Main Page Navigation *****/

header.pageHeader{
	width: 61%;
	margin: auto;
	height:70px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: table;
    
}

header nav {
float:right;
height: 70px;
}

header.pageHeader li {
	padding-top: 17px;
}

 ul.mainNav li {
	float:left;
	margin:10px;
	
}
ul.mainNav li a{
	text-decoration: none;
	color: #a3a3a3;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-size: 16px;	
}
ul.mainNav .activePage{
	color: #f63c3c;
	border-bottom: 4px solid #f63c3c;
	padding-bottom: 19px;
}


/***** Hero Area Slider***************************************************/ 

.heroAreaCarousel{
	position: relative;
	/***min-height: 100vh;**/
}

.heroAreaCarousel nav ol{
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
	text-align: center;
}
.heroAreaCarousel nav li {
	display: inline-block;
	height: 4px;
	width: 40px;
	margin: 0 5px;
	background-color: white;
	opacity: .4;
	cursor: pointer;
}
.heroAreaCarousel nav li.active {
	opacity:1;
}

.heroAreaCarousel img{
	max-width: 100%;
}

.heroAreaCarousel ul li{
	display: none;
}

.heroAreaCarousel ul li.active{
	display: block;
}

.sliderText {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
	color: #fff;
}

.sliderText  h1 {
	
	font-weight: 300;
	font-size: 120px;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 130px;
	
}

.sliderText  p{
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-size: 22px;	
	font-weight: 200;
	margin: 11px 20% 35px;
	letter-spacing: 1.5px;
	line-height: 30px;
}




/***** Portfolio Gallery Section **************************************************/

.myProjects {
	font-weight: 400;
	letter-spacing: 1.5px;
	color: #000;
}
	

.myProjects {
	width:100%;
	text-align: center;
	text-transform: uppercase;
	
}

.myProjects h2{
	  font-size: 40px;
	  margin: 20px 0 
}
.myProjects h3 {
	  font-size: 30px;
	  margin: 20px 0 5px;
}
.myProjects p{
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-weight: 200;
	font-size: 14px;
}
.myProjects a {
	text-decoration: none;
	color: #000;
}

.project {
	width: 49%;
	height:625px;
	display: inline-block;
	vertical-align: top;
	
}
.project img {
	width:100%;
	
}
.projectInfoHeight {
	height: 125px;

}






/************************* Get in Touch ****************************/
.getInTouchLink{
	background-color: #f63c3c;
	font-weight: 300;
	color: #fff;
	font-size: 40px; 
	text-transform: uppercase;
	letter-spacing: 1.6px;
	text-align: center;
	padding-top: 30px;
}
.getInTouchLink p {
	font-family: 'Roboto', sans-serif;;
	font-size:16px;

}

/***** Social Sharing *****/

/***** Page Footer *******/



