/**** Universal Styles *************/
*{
	box-sizing:border-box;
}

body{
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
	font-size: 14px;
/*******line-height: 1.5;**********************   Check later***********/
	font-weight:300;
	color: #555;
}

h1, h2, h3, #projects, .explore, ul.socail li a{
	font-family: 'Teko', Arial, sans-serif;
	text-transform: uppercase;
}

h2,h2, h3, ul.socail li a {
	font-weight: 400;
	letter-spacing: 1.5px;
}

h1{
	font-weight: 300;
	font-size: 120px;
	color: #fff;
	text-align: center;
	/*letter-spacing: 
	line-height:;
	margin-bottom:;
***********tweak in browser** */
}

h2 {
	font-size: 40px;
	color:#000;
}

h3 {
	font-size: 30px;
	color:#000;
}
a {
	text-decoration: none;
}

.clearfix:after{
	display: table;
	content: '';
	clear: both;
}


